.about__title{
    
font-family: "Anton SC";
font-size: 320px;
font-style: normal;
font-weight: 400;
line-height: 1; 
text-transform: uppercase;
}

.about_first{
    display: flex;
padding: 160px 96px 96px 96px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}
.about__description{
font-family: Inter;
font-size: 80px;
font-style: normal;
font-weight: 600;
line-height: 1.2; 
letter-spacing: -2px;
}


.man {
    width: 960px;
    height: 540px;
}

.team_start {
    padding-left: 96px;
    padding-right: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: 96px;

}

header{
display: flex;
width: 1920px;
padding: 64px 96px 0px 96px;
justify-content: space-between;
align-items: center;
}

.team__member-containers{
    display: flex;
    flex-wrap: wrap;
}

.team__container_start {
    display: flex;
    padding: 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 96px;
    align-self: stretch;
}

.team__label {
    font-size: 25px;
}

.team__number {
    font-size: 25px;
}

.team__title {
    padding-left: 96px;
    width: 1700px;
    height: 480px;
    font-family: "Anton SC";
    font-size: 240px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 96px;
}

.team__member-1 {
    width: 640px;
}

.team__member-container {
    display: flex;
}

.team__member-container-1 {
    display: flex;
}

.team__member {
    width: 640px;
}


.team__image {
    width: 640px;
    height: 880px;
    position: relative;

}

.team__socials {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.team__social-link {
display: flex;
width: 60px;
height: 60px;
justify-content: center;
align-items: center;
gap: 10px;

}
.media-icon{
width: 28px;
height: 28px;
flex-shrink: 0;
}



.team__social-icon {
    width: 60px;
    height: 60px;


}

.team__role {
    padding-left: 80px;
    font-family: Gambetta;
    font-weight: 500;
    font-style: italic;
    font-size: 30px;
    line-height: 100%;
    margin-top: 80px;
    margin-bottom: 48px;
}

.team__name {
    padding-left: 80px;
    font-family: Anton SC;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.1;
    text-transform: uppercase;
    width: 300px;

}

.team__bio {
    padding-left: 80px;
    width: 480px;
    height: 185px;
    font-family: Inter;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 80px;
}

.awards-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    font-size: 20px;
}

.awards-second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.awards-title {
    margin: 0;
    font-family: "Anton SC";
    font-size: 300px;
    font-style: normal;
    font-weight: 400;
    line-height: 320px;
    text-transform: uppercase;
}

.awards-description {
    max-width: 900px;
    padding-top: 16px;
    margin: 0;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -2px;
}

.awards-start {
    display: flex;
    padding: 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.award-card-1 {
    width: 310px;
    height: 311px;
    justify-content: space-between;
    padding: 35.43px;

}

.award-title-1 {
    padding-bottom: 7px;
    margin: 0;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 1;
    letter-spacing: 0%;

}

.award-studio {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 24.8px;
    line-height: 1.1;
    margin: 0;
    padding-top: 20px;

}

.award-certificate-title {
    padding-top: 73.5px;
    font-family: Helvetica;
    font-size: 11.022px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
}

.award-description-1 {
    width: 138px;
    height: 50px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 6.89px;
    line-height: 1.4;
   
}

.award-card-2 {
    width: 310px;
    height: 311px;
    justify-content: space-between;
    padding: 35.43px;

}

.award-title-2 {
    padding-bottom: 7px;
    margin: 0;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 1;
    letter-spacing: 0%;
}


.award-description-2 {
    width: 138px;
    height: 50px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 6.89px;
    line-height: 1.4;
}

.award-card-3 {
    width: 310px;
    height: 311px;
    justify-content: space-between;
    padding: 35.43px;
}

.award-title-3 {
    padding-bottom: 7px;
    margin: 0;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 1;
    letter-spacing: 0%;
  
}

.award-description-3 {
    width: 138px;
    height: 50px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 6.89px;
    line-height: 1.4;
    
}

.award-card-4 {
    width: 310px;
    height: 407.4285888671875px;
    justify-content: space-between;
    padding: 35.43px;

}

.award-logo {
    width: 72.50248718261719px;
    height: 34.4444465637207px;
    top: 0.49px;
    left: 0.36px;
    margin: 0;
}

.award-title-4 {
    padding-top: 27px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 1.1;
    letter-spacing: 0%;
    width: 123px;
    height: 94px;
    margin: 0;
}


.award-description-4 {
    width: 138px;
    height: 50px;
    margin: 0;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 6.89px;
    line-height: 1.4;
    letter-spacing: 0%;

}

.award-card-5 {
    width: 310px;
    height: 407.4285888671875px;
    justify-content: space-between;
    padding: 35.43px;
}

.award-title-5 {
    padding-bottom: 14px;
    padding-top: 27px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 1.1;
    letter-spacing: 0%;
    width: 239px;
    height: 94px;
    margin: 0;
}


.award-description-5 {
    width: 138px;
    height: 50px;
    margin: 0;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 6.89px;
    line-height: 1.4;
    letter-spacing: 0%;
}

.award-card-6 {
    width: 310px;
    height: 407.4285888671875px;
    justify-content: space-between;
    padding: 35.43px;
    background: #070707;

}


.award-title-6 {
    padding-bottom: 14px;
    padding-top: 27px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 1.1;
    letter-spacing: 0%;
    width: 239px;
    height: 94px;
    margin: 0;
}


.award-description-6 {
    width: 138px;
    height: 50px;
    margin: 0;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 6.89px;
    line-height: 1.4;
    letter-spacing: 0%;

}

.award-card-7 {
    width: 310px;
    height: 311px;
    justify-content: space-between;
    padding: 35.43px;

}

.award-title-7 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.514px;
    line-height: 1.1;
    letter-spacing: 0%;
}

.award-card-8 {
    width: 310px;
    height: 311px;
    justify-content: space-between;
    padding: 35.43px;
}

.award-title-8 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 1.1;
    letter-spacing: 0%;

}
.award-gird-container {
    margin-bottom: 16px;
    gap: 16px;
    display: flex;
}
.award-card-9 {
    width: 310px;
    height: 311px;
    justify-content: space-between;
    padding: 35.43px;
}

.award-title-9 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 1.1;
    letter-spacing: 0%;
}



.awards-grid {
    display: flex;
}

.awards-lists {
    width: 960px;
    padding: 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 128px;
    display: flex;
}

.awards-list {
    justify-content: right;
    display: flex;
    text-align: right;
    flex-direction: column;
}

.awards-list-title {
    font-family: "Anton SC";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
}

.awards-list-item {
    display: flex;
    padding: 24px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--Text-Muted);
}

.award-name {
    color: var(--Text-Default, #0E1011);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.5px;
}

.award-year {
    font-family: Gambetta; 
    font-size: 30px; 
    font-style: italic; 
    font-weight: 500; 
    line-height: 1;
}
.awards-list-item:last-of-type {
    Border-bottom: none;
    }