.man {
    width: 960px;
    height: 540px;
}

.team_start {
    padding-left: 96px;
    padding-right: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

}

.team {}

.team__container {}

.team__container_start {
    display: flex;
    padding: 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 96px;
    align-self: stretch;
}

.team__label {
    color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
    font-size: 25px;
}

.team__number {
    color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
    font-size: 25px;
}

.team__title {
    padding-left: 96px;
    color:  var(--primary-color);
    width: 1700px;
    height: 480px;
    font-family: "Anton SC";
    font-size: 240px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}

.team__member-1 {
    width: 640px;
    background: var(--gray-light);
}

.team__member-container {
    display: flex;
}

.team__member-container-1 {
    display: flex;
}

.team__member {
    width: 640px;
    background: #EEEEEE;
}

.team__image-wrapper {}

.team__picture {}

.team__image {
    width: 640px;
    height: 880px;

}

.team__socials {}

.team__social-link {
    gap: 0px;
}

.team-container {}

.team__social-icon {
    width: 60px;
    height: 60px;


}

.team__role {
    padding-left: 80px;
    font-family: Gambetta;
    font-weight: 500;
    font-style: italic;
    font-size: 30px;
    line-height: 100%;
    color: var(--primary-color);
}

.team__name {
    padding-left: 80px;
    font-family: Anton SC;
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    text-transform: uppercase;
    color:  var(--primary-color);
    width: 300px;

}

.team__bio {
    padding-left: 80px;
    width: 480px;
    height: 185px;
    font-family: Inter;
    font-weight: 400;
    font-size: 22px;
    line-height: 170%;
    color:  var(--primary-color);
}


.awards-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
    font-size: 20px;
}

.awards-second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.awards-title {
    margin: 0;
    color:  var(--primary-color);
    font-family: "Anton SC";
    font-size: 300px;
    font-style: normal;
    font-weight: 400;
    line-height: 320px;
    text-transform: uppercase;
}

.awards-description {
    max-width: 900px;
    padding-top: 16px;
    margin: 0;
    color:  var(--primary-color);
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 96px;
    letter-spacing: -2px;
}

.awards-start {
    display: flex;
    padding: 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.award-card-1 {
    width: 310px;
    height: 311px;
    justify-content: space-between;
    padding: 35.43px;
    background: #4A61E2;

}

.award-title-1 {
    padding-bottom: 7px;
    margin: 0;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ACB5F7;

}

.award-studio {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 24.8px;
    line-height: 110%;
    margin: 0;
    color: var(--background-color);

}

.award-certificate-title {
    padding-top: 73.5px;
    color: var(--background-color);
    font-family: Helvetica;
    font-size: 11.022px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin: 0;
}

.award-description-1 {
    width: 138px;
    height: 50px;

    font-family: Helvetica;
    font-weight: 400;
    font-size: 6.89px;
    line-height: 140%;
    color: #ACB5F7;

}

.award-card-2 {
    width: 310px;
    height: 311px;
    justify-content: space-between;
    padding: 35.43px;
    background: #DE7C41;

}

.award-title-2 {
    padding-bottom: 7px;
    margin: 0;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A44F1C;

}


.award-description-2 {
    width: 138px;
    height: 50px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 6.89px;
    line-height: 140%;
    color: #A44F1C;
}

.award-card-3 {
    width: 310px;
    height: 311px;
    justify-content: space-between;
    padding: 35.43px;
    background: #5C4782;

}

.award-title-3 {
    padding-bottom: 7px;
    margin: 0;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #9B83B0;
}

.award-description-3 {
    width: 138px;
    height: 50px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 6.89px;
    line-height: 140%;
    color: #9B83B0;
}

.award-card-4 {
    width: 310px;
    height: 407.4285888671875px;
    justify-content: space-between;
    padding: 35.43px;
    background: #3C7C71;

}

.award-logo {
    width: 72.50248718261719px;
    height: 34.4444465637207px;
    top: 0.49px;
    left: 0.36px;
    margin: 0;
}

.award-title-4 {
    padding-bottom: 14px;
    padding-top: 27px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 110%;
    letter-spacing: 0%;
    color: #6BB5A8;
    width: 123px;
    height: 94px;
    margin: 0;
}


.award-description-4 {
    width: 138px;
    height: 50px;

    margin: 0;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 6.89px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #6BB5A8;

}

.award-card-5 {
    width: 310px;
    height: 407.4285888671875px;
    justify-content: space-between;
    padding: 35.43px;
    background: #F55733;

}

.award-title-5 {
    padding-bottom: 14px;
    padding-top: 27px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 110%;
    letter-spacing: 0%;
    color: #CB2C13;
    width: 239px;
    height: 94px;
    margin: 0;
}


.award-description-5 {
    width: 138px;
    height: 50px;
    margin: 0;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 6.89px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #CB2C13;
}

.award-card-6 {
    width: 310px;
    height: 407.4285888671875px;
    justify-content: space-between;
    padding: 35.43px;
    background: #070707;

}


.award-title-6 {
    padding-bottom: 14px;
    padding-top: 27px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 110%;
    letter-spacing: 0%;
    width: 239px;
    height: 94px;
    margin: 0;
    color: #868686;

}


.award-description-6 {
    width: 138px;
    height: 50px;
    margin: 0;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 6.89px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #9B83B0;

}

.award-card-7 {
    width: 310px;
    height: 311px;
    justify-content: space-between;
    padding: 35.43px;
    background: #9CD3D6;

}

.award-title-7 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: #37999D;
}

.award-card-8 {
    width: 310px;
    height: 311px;
    justify-content: space-between;
    padding: 35.43px;
    background: #E53E48;

}

.award-title-8 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: #9E151D;

}
.award-gird-container {
    margin-bottom: 16px;
    gap: 16px;
    display: flex;
}
.award-card-9 {
    width: 310px;
    height: 311px;
    justify-content: space-between;
    padding: 35.43px;
    background: #9CD3D6;

}

.award-title-9 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 42.51px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: #37999D;
}

.awards-section {}

.awards-container {}

.awards-start {}

.awards-first {}

.awards-subtitle {}

.awards-number {}

.awards-second {}

.awards-title {}

.awards-description {}

.awards-grid {}

.award-card {}

.award-title {}

.award-studio {}

.award-certificate-title {}

.award-description {}

.award-logo {}

.awards-lists {}

.awards-list {
    justify-content: right;
    display: flex;
    text-align: right;
}

.awards-list-title {}

.awards-list-item {}

.award-name {}

.award-year {}
.awards-grid{

}