.man{
    width: 960px;
    height: 540px;
}
.team_start {
    padding-left: 96px;
    padding-right: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

}

.team {}

.team__container {
}

.team__container_start {
    display: flex;
    padding: 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 96px;
    align-self: stretch;
}

.team__label {
    color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
    font-size: 25px;
}

.team__number {
    color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
    font-size: 25px;
}

.team__title {
    padding-left: 96px;
    color: var(--Text-Default, #0E1011);
    width: 1700px;
    height: 480px;
    font-family: "Anton SC";
    font-size: 240px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}

.team__member-1 {
    width: 640px;
    background: #F8F8F8;
}
.team__member-container {
    display: flex;
}
.team__member-container-1 {
    display: flex;
}
.team__member {
    width: 640px;
    background: #EEEEEE;
}

.team__image-wrapper {}

.team__picture {}

.team__image {
    width: 640px;
    height: 880px;

}

.team__socials {}

.team__social-link {
    gap: 0px;
}

.team-container {}

.team__social-icon {
    width: 60px;
    height: 60px;


}

.team__role {
    padding-left: 80px;
    font-family: Gambetta;
    font-weight: 500;
    font-style: italic;
    font-size: 30px;
    line-height: 100%;
    color: #0E101199;
}

.team__name {
    padding-left: 80px;
    font-family: Anton SC;
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    text-transform: uppercase;
    color: #0E1011;
    width: 300px;

}

.team__bio {
    padding-left: 80px;
    width: 480px;
    height: 185px;
    font-family: Inter;
    font-weight: 400;
    font-size: 22px;
    line-height: 170%;
    color: #0E101199;
}