@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton SC&display=swap");
body{
  font-family: Inter, serif;
}
* {
  margin: 0;
}
.start{ background-color: black; ;
padding: 2%;}
.start1{
  display: inline-block; padding-left: 23%; text-align: center;
}
.start1>a{padding-left: 30px; font-size: 20px;}
.start2{
  display: inline-block; padding-left: 30%; text-align: right; font-size: 20px;}
.title{
  background-color: black; color:white; padding-left: 2%; 
  padding-bottom: 100px;
}
.title>h2{ font-size: 60px; padding-right: 25%;
  
}

.conteiner{
  display: inline-flex;
}
.box1>img {width: 450px; height: 500px; display:flex; margin-bottom: 40px;
}
.box1>li{text-align:center;
  list-style:none; font-style: italic;}
.box1>p{text-align: left;
}
.box1>ol{margin-right: 20px; padding-bottom: 50px; padding-top: 30px;}
.box2>li{text-align:center; 
  list-style:none; font-style: italic;}
.box2>img {width: 555px; height: 500px; margin-bottom: 40px;
}
.box2{
  background-color: rgb(19, 19, 18); color: white;
}
.box2>ol{list-style: none; text-align: left; margin-right: 20px;padding-bottom: 50px; padding-top: 30px;}
.box3>img {width: 402px; height: 500px; margin-bottom: 40px;}
.box3>ol{list-style: none; text-align: left; margin-right: 20px;
  padding-bottom: 50px; padding-top: 30px;}
.box3>li{text-align:center;
  list-style:none; font-style: italic;}
.box3{
  background-color: rgb(27, 27, 26); color: white;
}
.conteiner1{
  display: inline-flex;
}
.box4>img {width: 450px; height: 500px; margin-bottom: 40px;
}
.box4 {background-color: rgb(27, 27, 26); color: white;
}
.box4>li{text-align:center;
  list-style:none; font-style: italic;}
  .box4>ol{
    list-style: none; text-align: left; margin-right: 20px;
    padding-bottom: 50px; padding-top: 30px;}
.box5>img {width: 555px; height: 500px; margin-bottom: 40px;
}
.box5{background-color: rgb(19, 19, 17); color: white;}
.box5>li{text-align:center;
  list-style:none; font-style: italic;}
  .box5>ol{list-style: none; text-align: left; margin-right: 20px;
    padding-bottom: 50px; padding-top: 30px;}
.box6>img {width: 402px; height: 500px; margin-bottom: 40px;}
.box6{
  background-color: rgb(27, 27, 26); color: white;
}
.box6>li{text-align:center;
  list-style:none; font-style: italic;}
  .box6>ol{list-style: none; text-align: left; margin-right: 20px;
    padding-bottom: 50px; padding-top: 30px;}
.end > img {
  display: flex;
  border: 0;
  width: 100%;
  margin: 0;
}
.end {
  display: inline;
  margin: 0;
  padding: 0;
}
.over {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 0;
}
.sec1 > p {
  font-style: italic;
  color: lightslategrey;
  margin-left: 60px; padding-bottom: 20px;
}
.sec2 > p {
  font-style: italic;
  color: lightslategrey;
  margin-left: 270px; padding-bottom: 20px;
}
.sec3 > p {
  font-style: italic;
  color: lightslategrey;
  margin-left: 230px; padding-bottom: 20px;
}
.sec4 > p {
  font-style: italic;
  color: lightslategrey;
  margin-left: 200px; padding-bottom: 20px;
}
.sec1 > ol {
  list-style: none;
  font-size: 23px;
  margin-left: 20px;
}
.sec2 > ol {
  list-style: none;
  font-size: 23px;
  margin-left: 230px;
}
.sec3 > ol {
  list-style: none;
  font-size: 23px;
  margin-left: 190px;
}
.sec4 > ol {
  list-style: none;
  font-size: 23px;
  margin-left: 160px;
}
.sss {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 2%;
}
.sss > ol {
  list-style: none;
  display: block;
  padding: 5px;
}
.sss > ul {
  display: block;
  list-style: none;
  margin-left: 77%;
}
.over a {
  color: black;
  font-weight: bold;
}
.sss a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
.sec1 a {
  display: flex;
  padding-bottom: 15px;
}
.sec2 a {
  display: flex;
  padding-bottom: 15px;
}
.sec3 a {
  display: flex;
  padding-bottom: 15px;
}
.sec4 a {
  display: flex;
  padding-bottom: 15px;
}
