
:root {

  --primary-color: #111111;
  --secondary-color: #555555;
  --accent-color: #777777;
  --background-color: #ffffff;
}

body{
    background: #ffffff;
}

.title-large {
    color: #0E1011;
}
.subtitle {
    color: #0E1011;
}

.testimonial-content-description{
    color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
}

.hero-info-subspecies {
    color: #0E1011;
}
.hero-info-text {
    color: #0E1011;
}

.section-about-title {
    color: #0E1011;
}

.section-about-subtitle-paragraph {
    color: #0E1011;
}
.section-about-paragraph {
   color: #0E101199
}

.section-label{
    color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
}

.section-title{
    color: var(--Text-Default, #0E1011);

}

.section-subtitle{
color: var(--Text-Default, #0E1011);
}

.testimonial-description{
    color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
}



.arrow-button{
    background-color: transparent;
    background: var(--Background-Primary, #0E1011);
}

.arrow-left{
    background-color: transparent;
}

.arrows{
    background: transparent;
    
}

.testimonial-content-text-client-name{
    color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
}

.testimonial-content-text-info{
background: var(--Background-Muted, #F8F8F8);
}

.title-large {
    color: #0E1011;
}
.subtitle {
    color: #0E1011;
}


.hero-info-subspecies {
    color: #0E1011;
}
.hero-info-text {
    color: #0E1011;
}

.section-about-title {
    color: #0E1011;
}

.section-about-subtitle-paragraph {
    color: #0E1011;
}
.section-about-paragraph {
   color: #0E101199
}


