
:root {

  --primary-color: #0E1011;
  --Text-Muted:rgba(14, 16, 17, 0.60);
  --white-color: #FFF;
  --gray-light:#F8F8F8;
  --gray-color:#EEE;


      --font-anton:  "Anton SC", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-gambetta-medium-italic: Gambetta;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --letter-spacing: 0;
    --line-height: 1;

    --breakpoint-max-width: 1920px;

    --header-height: 100px;
    --header-x-padding: 96px;

    --components-navbar-font: var(--font-inter);
    --components-navbar-font-weight: 600;
    --components-navbar-font-size: 22px;
    --components-navbar-letter-spacing: 0;

    --heading-XXLarge-font: var(--font-anton);
    --heading-XXLarge-font-weight: var(--font-weight-400);
    --heading-XXLarge-font-size: 320px;
    --heading-XXLarge-line-height: var(--line-height);
    --heading-XXLarge-letter-spacing: var(--letter-spacing);
    --heading-XXLarge-case: uppercase;

    --heading-XLarge-font: var(--font-anton);
    --heading-XLarge-font-size: 240px;
    --heading-XLarge-case: uppercase;

    --heading-alt-small-font: var(--font-inter);
    --heading-alt-small-font-weight: var(--font-weight-600);
    --heading-alt-small-font-size: 80px;
    --heading-alt-small-line-height: 1.2;
    --heading-alt-small-letter-spacing: -2px;

    --text-meta-font: var(--font-gambetta-medium-italic);
    --text-meta-font-weight: var(--font-weight-500);
    --text-meta-font-size: 30px;

    --input-color: #6c7d80;
}

body{
    background: var(--white-color);
}
.hero-title {
    color:var(--primary-color);
}
.hero-subtitle {
    color:var(--primary-color);
}

.title-large {
    color: var(--primary-color);
}
.subtitle {
    color: var(--primary-color);
}

.testimonial-content-description{
    color: var(--primary-color);
}

.hero-info-subspecies {
    color: var(--primary-color);
}
.hero-info-text {
    color: var(--primary-color);
}

.section-about-title {
    color: var(--primary-color);
}

.section-about-subtitle-paragraph {
    color: var(--primary-color);
}
.section-about-paragraph {
   color: var(--primary-color);
}

.section-label{
    color: var(--primary-color);
}

.section-title{
    color: var(--primary-color);

}

.section-subtitle{
color:  var(--primary-color);
}

.testimonial-description{
    color: var(--primary-color);
}



.arrow-button{
    background-color: transparent;
    background:  var(--primary-color);
}

.arrow-left{
    background-color: transparent;
}

.arrows{
    background: transparent;
    
}
.arrow{
    background-color: transparent;
}

.testimonial-content-text-client-name{
    color: var(--primary-color);
}

.testimonial-content-text-info{
background:  var(--gray-light);
}
.section-service.accent > .section-service-information{
    background-color: var(--gray-light);
  }

  .section-service-title{
    color:var(--primary-color);
  }
  .section-service-intro-text{
    color:var(--primary-color);
  }
  .service-block{
    border-bottom: solid var(--gray-light) ;
  }
  .service-title{
    color: var(--primary-color);
  }
  
  .service-description{
    color: var(--primary-color);
  }
  .section-label{
    color: var(--primary-color);
  }
  .section-title{
    color:  var(--primary-color);
  }
  .section-subtitle{
    color:  var(--primary-color);
  }
  .process-content-text{
    color: var(--primary-color); 
  }
  .process-greytext-first{
    color: var(--primary-color);
  }
  .process-greytext-second{
    color: var(--primary-color);
  }

  .team__label{
    color: var(--Text-Muted) ;
  }

  .team__number{
    color: var(--Text-Muted);
  }


.blog-hero-headline{
     color: var(--primary-color);

}


.footer-logo{
  color: var(--white-color);
}


.footer-pages-wrapper-title{
  color: var(--white-color);
}

.team__title {
    color:  var(--primary-color);
    
}

.team__member-1 {
    background: var(--gray-light);
}

.team__member {
    width: 640px;
    background: var(--gray-color);
}

.team__role{
  color: var(--primary-color);
}

.team__name{
  color: var(--primary-color);
}

.team__bio{
  color: var(--primary-color);
}

.awards-first{
  color: var(--Text-Muted);
}

.awards-title{
  color: var(--primary-color);
}

.awards-description{
  color: var(--primary-color);
}

.award-card-1{
   background: #4A61E2;
}

.award-title-1{
    color: #ACB5F7;}

    