

html, body {
    font-family: var(--font-anton);
    font-weight: var(--font-weight-400);
    font-style: normal;   
}

*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: var(--breakpoint-max-width);
    margin: auto;
}


body {
    --logo-color: var(--background-color);

    --footer-background-color: var(--primary-color);
    --footer-color:  var(--background-color);
    --footer-meta-color:  var(--background-color);

    --background-color:  var(--background-color);


    background-color: var(--background-color);
    color: var(--background-color);
}



header .header-nav ul {
    justify-content: start;
}

main {
    display: flex;
}


main > section {
    width: 50%;
}

main .main-image-wrapper {
    overflow: hidden;
}

main > section img {
    height: 100%;
}

main h1 {
    max-width: 300px;
    padding: 64px 96px 0 96px;
    font-family: var(--heading-XXLarge-font);
    font-weight: var(--heading-XXLarge-font-weight);
    font-size: 160px;
    line-height: var(--heading-XXLarge-line-height);
    letter-spacing: var(--heading-XXLarge-letter-spacing);
    text-transform: var(--heading-XXLarge-case);
    pointer-events: none;
}










