

footer {
    padding: 96px 96px 64px 96px;
    background-color: var(--primary-color);

}

 .footer-logo {
    margin-bottom: 312px;
    color: var(--background-color);
    font-size: var(--heading-XLarge-font-size);
    text-transform: var(--heading-XLarge-case);
    font-family: "Anton SC";
}

footer .footer-pages {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .footer-pages .footer-pages-wrapper h4 {
    margin-bottom: 32px;;
    font-family: var(--text-meta-font);
    font-weight: var(--text-meta-font-weight);
    font-size: var(--text-meta-font-size);
    opacity: .6;
}

footer .footer-pages .footer-pages-wrapper h4:before {
    content: '(';
}

footer .footer-pages .footer-pages-wrapper h4:after {
    content: ')';
}

.footer-pages-wrapper-title{
    font-family: Gambetta;
font-size: 30px;
font-style: italic;
font-weight: 500;
line-height: 1;
}

footer .footer-pages .footer-pages-wrapper nav {
    font-family: var(--components-navbar-font);
    font-weight: var(--components-navbar-font-weight);
    font-size: 26px;
    line-height: 1.3;
    color: var(--background-color);
    
}

footer .footer-pages .footer-pages-wrapper li {
    margin-bottom: 32px;
}

footer .footer-links {
    display: flex;
    justify-content: space-between;
    color: var(--background-color);
    font-family: var(--components-navbar-font);
    font-weight: var(--components-navbar-font-weight);
    font-size: var(--components-navbar-font-size);

}

footer .footer-links a {
    padding-bottom: 2px;
    border-bottom: 2px solid;
    transition: all .3s;
    opacity: 1;
}

footer .footer-links a:hover {
    border-bottom: 1px solid;
    opacity: .6;
}