
@font-face {
  font-family: 'Gambetta-MediumItalic';
  src: url('../fonts/Gambetta-MediumItalic.woff2') format('woff2'),
       url('../fonts/Gambetta-MediumItalic.woff') format('woff'),
       url('../fonts/Gambetta-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
