header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    padding: 0 var(--header-x-padding);

    font-family: var(--components-navbar-font);
    font-optical-sizing: auto;
    font-weight: var(--components-navbar-font-weight);
    font-size: var(--components-navbar-font-size);
    letter-spacing: var(--components-navbar-letter-spacing);
    
}

.header-image-logo{
    display: flex;
width: 75px;
height: 36px;
padding: 0.5px 0.961px 0.5px 0.367px;
justify-content: center;
align-items: center;
}

header .header-nav {
    flex-grow: 1;
   
}

header .header-nav a {
    line-height: 1.5;
    color: var(--primary-color);
}

header .header-nav ul {
    display: flex;
    gap: 48px;
    
}

header .header-nav li:hover {
    text-shadow: 1px 1px 2px var(--font-color);
    cursor: pointer;
}

header .header-link a {
    line-height: 1.5;
    opacity: 1;
    transition: all .3s;
  color: var(--primary-color);
}

.header-link{
    border-bottom: 2px solid var(--primary-color);

}

header .header-link a:hover {
    border-bottom: 1px solid;
    opacity: .6;
}

header .header-link a:active {
    opacity: 1;
    border-bottom: 3px solid;
}

.header-change{
    border-radius: 100%;
    padding: 5px;
    border: 1px solid var(--primary-color);
}

.header-change-icon{
    width: 22px;
    height: 22px;
}

.header-link{
    margin-right: 20px;
}

.header-logo{
    fill: var(--primary-color);
    display: flex;
width: 1920px;
padding: 64px 96px 0px 96px;
justify-content:flex-start;
}