:root {

  --primary-color: #111111;
  --secondary-color: #555555;
  --accent-color: #777777;
  --background-color: #ffffff;
}

.studio-first {
  display: flex;
  width: 600px;
  height: 675px;
  flex-direction: column;
  justify-content: space-between;
}

.about-us-block-all {
  display: flex;
  width: 960px;
  flex-direction: column;
  align-items: flex-start;
  gap: 128px;
  max-width: fit-content;
}

.section-intro {
  padding: 80px 20px;
  max-width: 1200px;
}

.intro-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.intro-image {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-image {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.intro-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro-brand {
  text-align: left;
}

.studio-name {
  font-size: 48px;
  letter-spacing: 2px;
}

.location-text {
  font-style: italic;
  font-size: 16px;
  color: var(--secondary-color);
}

.tagline-text {
  font-size: 24px;
  line-height: 1.2;
  margin-top: 0;
}


.section-label {
  color: var(--accent-color);
}

.section-title {
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 10px 0;
}

.section-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
}

.partner-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  list-style: none;
  padding: 0px;
  margin-top: 50px;
}

.about-us-block,
.our-partners-block {
  margin-top: 30px;
}

.partner-item {
  flex: 0 1 80px;
  text-align: center;
}

.partner-logo {
  width: 100%;
  height: auto;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.partner-logo:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media (max-width: 728px) {
  .intro-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .intro-image,
  .intro-text {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .intro-text {
    text-align: center;
    align-items: center;
  }

  .intro-brand {
    text-align: center;
  }

  .studio-name {
    font-size: 36px;
  }

  .tagline-text {
    font-size: 20px;
  }

  .section-title {
    font-size: 28px;
  }

  .section-description {
    font-size: 14px;
  }
}

.projects-section {
  padding: 96px;
  background: var(--Background-Muted, #F8F8F8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

}

.projects-header {
  align-items: flex-start;
  padding: 80px;
  max-width: 960px;
}

.projects-labels {
  display: flex;
  justify-content: space-between;
  list-style-type: none;

}

.projects-label {
  color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
  font-family: Gambetta;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 100%;

}

.projects-number {
  color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
  font-family: Gambetta;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 100%;
}



.projects-title {
  color: var(--Text-Default, #0E1011);
  font-family: 'Anton SC', sans-serif;
  font-size: 320px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

.projects-subtitle {
  width: 1400px;
  color: var(--Text-Default, #0E1011);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.5px;

}

.projects-gallery ul {
  display: grid;

  margin: 0;


}

.project-name,
.project-year {
  margin: 0;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  gap: 0;
}

.project-image {
  width: 480px;
  height: 480px;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
}

.picture-picture-acme,
.picture-picture-kanba,
.picture-picture-utosia,
.picture-picture-goldline {
  position: relative;
  width: 480px;
  height: 480px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

}

.project-info {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  max-width: 480px;
  padding: 0;
  margin: 0;
}

.project-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: auto;
}

.project-name {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1px;
  color: #0E1011;
  margin-top: 0;
}

.project-year {
  font-family: 'Gambetta', serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 28px;
  color: rgba(14, 16, 17, 0.6);
}


@media (max-width: 1920px) {
  .projects-labels {
    font-size: 36px;
    line-height: 44px;
  }

  .projects-title {
    font-size: 120px;
  }

  .projects-subtitle {
    font-size: 18px;
  }

  .projects-gallery ul {
    grid-template-columns: repeat(2, 460px);

  }

  .project-image {
    width: 460px;
    height: 460px;
  }

  .project-logo {
    width: 100px;
    height: 100px;
  }

  .project-name {
    font-size: 20px;
    line-height: 32px;
  }

  .project-year {
    font-size: 18px;
  }
}

:root {
  --black: #000000;
  --gray: #8f8f8f;
  --white: #ffffff;
}

.services-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--white);
}

.services-header {
  text-align: left;
  position: relative;
  display: flex;
  padding: 96px;
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;
  align-self: stretch;
}

.section-little-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.section-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.service-service-brand {
  gap: 64px;
}

.service-content {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.service-brand-strategy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.service-brand-little {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}

.service-brand-little2 {
  display: flex;
  align-items: flex-start;
  gap: 96px;
  align-self: stretch;
}

.section-label {
  color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
  font-family: Gambetta;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  line-height: 100%;
}

.section-number {
  position: absolute;
  right: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: var(--gray);
  font-style: italic;
}

.services-title {
  font-size: 320px;
  font-family: "Gambetta";
  font-weight: 1000;
  line-height: 1;
  color: var(--black);
  font-style: normal;
  text-transform: uppercase;
}

.services-description {
  font-size: 80px;
  line-height: 1.4;
  color: var(--black);
  max-width: 70%;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0, 5px;
}

.service {
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: center;

}


.image {
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  width: 450px;
  height: 563px;
}

.service-service-brand {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  background: var(--Background-Muted, #F8F8F8);
}

.service-name {
  color: var(--Text-Default, #0E1011);
  /* Heading/Small */
  font-family: "Anton SC";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  /* 128px */
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 0.6px;

}

.service-info {
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  margin-bottom: 32px;
}

.service-subtitle {
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
  color: var(--gray);
  margin-bottom: 16px;
}

.service-list {
  font-size: 14px;
  line-height: 1.5;
  color: var(--black);
}

.service-image {
  max-width: 400px;
  flex: 1;
}

.service-image picture img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  display: block;
}

.service-image:hover picture img {
  transform: scale(1.05);
}


@media (max-width: 1920px) {
  .services-title {
    font-size: 72px;
  }

  .services-description {
    font-size: 20px;
  }

  .service-name {
    font-size: 32px;
  }

  .service-name {
    font-size: 50px;
  }
}


li {
  list-style-type: none;
}


.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.testimonial-text-main {
  display: flex;
  padding: 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
}

.testimonial-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}



.section-title-2 {
  color: var(--Text-Default, #0E1011);
  font-family: "Anton SC";
  font-size: 100px;
  font-style: normal;
  font-weight: 10px;
  line-height: 90px;
  text-transform: uppercase;
}



.testimonial-card-1 {
  width: 640px;
height: 696px;

}

.testimonial-card {
  width: 640px;
  height: 696px;
  padding: 80px;
  gap: 96px;
  background: #F8F8F8;
}



.testimonial-title {
  padding-top: 96px;
  padding-left: 80px;
  font-family: Inter;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: -1px;

}

.testimonial-text {
  width: 480px;
  height: 108px;
  padding-left: 80px;
  padding-top: 16px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0px;
  color: #0E101199;

}

.testimonial-card-1 {
  padding: 80px;
  gap: 96px;
  background: #EEEEEE;
}

.professor {
  padding-left: 80px;
  padding-top: 80px;

}

.client-photo {
  width: 70px;
  height: 70px;
  border-radius: 500px;
  padding-left: 80px;
  padding-top: 48px;
  padding-bottom: 80px;
 
}

.client-name {
  font-family: Inter;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0px;
  color: #1E1E1E;
 

}

.client-company {
  padding-top: 4px;
  font-family: Gambetta;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0E101199;

}

.client-name-container {
  row-gap: 4px;
  padding-left: 80px;
}

.testimonial-card-item-1-container {
  display: flex;
}
.client-photo-container {
 display: flex;
 flex-direction: initial;
}









/* Більше рішень для сайтів на https://gptonline.ai/ */