@import url("../styles/parts/header.css");
@import url("../styles/parts/footer.css");

body {
    --logo-color: var(--text-default-color);

    --footer-background-color: var(--primary-color);
    --footer-color: var(--white-color);
    --footer-meta-color: var(--white-color);

    --font-color: var(--primary-color);

    background-color: var(--white-color);
    color: var(--font-color);
}

body.inverse {
    --logo-color: var(--text-default-inverse-color);

    --footer-background-color: var(--white-color);
    --footer-color: var(--primary-color);
    --footer-meta-color: var(--primary-color);

    --white-color: var(--primary-color);
    --font-color: var(--white-color);

}



section.main-section-hero {
    padding: 160px 96px 96px 96px;
}

section.main-section-hero h1 {
    font-family: var(--heading-XXLarge-font);
    font-weight: var(--heading-XXLarge-font-weight);
    font-size: var(--heading-XXLarge-font-size);
    line-height: var(--heading-XXLarge-line-height);
    letter-spacing: var(--heading-XXLarge-letter-spacing);
    text-transform: var(--heading-XXLarge-case);
    pointer-events: none;
}

section.main-section-hero h2 {
    max-width: 1400px;
    font-family: var(--heading-alt-small-font);
    font-weight: var(--heading-alt-small-font-weight);
    font-size: var(--heading-alt-small-font-size);
    line-height: var(--heading-alt-small-line-height);
    letter-spacing: var(--heading-alt-small-letter-spacing);
}

section.main-section-projects .wrapper {
    margin-bottom: 24px;
}

section.main-section-projects .wrapper img {
    width: 100%;
}

