@import url("../styles/parts/header.css");
@import url("../styles/parts/footer.css");

body {
    --logo-color: var(--text-default-color);

    --footer-background-color: var(--dark-color);
    --footer-color: var(--wite-color);
    --footer-meta-color: var(--wite-color);

    --background-color: var(--wite-color);
    --font-color: var(--dark-color);

    --form-meta-color: var(--dark-color);

    background-color: var(--background-color);
    color: var(--font-color);
}

body.inverse {
    --logo-color: var(--text-default-inverse-color);

    --footer-background-color: var(--wite-color);
    --footer-color: var(--dark-color);
    --footer-meta-color: var(--dark-color);

    --background-color: var(--dark-color);
    --font-color: var(--wite-color);

}

header .header-nav ul {
    justify-content: start;
}

main {
    display: flex;
}


main > section {
    width: 50%;
}

main .main-image-wrapper {
    overflow: hidden;
}

main > section img {
    height: 100%;
}

main h1 {
    max-width: 300px;
    padding: 64px 96px 0 96px;
    font-family: var(--heading-XXLarge-font);
    font-weight: var(--heading-XXLarge-font-weight);
    font-size: 160px;
    line-height: var(--heading-XXLarge-line-height);
    letter-spacing: var(--heading-XXLarge-letter-spacing);
    text-transform: var(--heading-XXLarge-case);
    pointer-events: none;
}

main form {
    padding: 0 96px 64px 96px;
}

.contact-form {
    width: 960px;
    max-width: 100%;
    padding: 160px 96px 64px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.row .field-group {
    width: 100%;
}


input, textarea {
    width: 100%;
    padding: 16px 20px;
    font-size: 18px;
    color: var(--input-color);
    border: 2px solid #E8E8E8;
    background-color: #F8F8F8;
}

input::placeholder, textarea ::placeholder {
    font-family: var(--font-inter);
    color: var(--input-color);
}

textarea {
    height: 160px;
    resize: vertical;
}

.submit-button {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 16px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #333;
}

label {
    display: inline-block;
    padding-bottom: 12px;
    font-family: var(--text-meta-font);
    font-weight: var(--text-meta-font-weight);
    font-size: 20px;
    color: var(--form-meta-color);
    opacity: .6;
}

label:before {
    content: '(';
}

label:after {
    content: ')';
}

.field-group {
    flex: 1;
}

