*{
    background: #ffffff;
}

.title-large {
    color: #0E1011;
}
.subtitle {
    color: #0E1011;
}


.hero-info-subspecies {
    color: #0E1011;
}
.hero-info-text {
    color: #0E1011;
}

.section-about-title {
    color: #0E1011;
}

.section-about-subtitle-paragraph {
    color: #0E1011;
}
.section-about-paragraph {
   color: #0E101199
}

.srction-label{
    color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
}

.section-title{
    color: var(--Text-Default, #0E1011);

}

.section-subtitle{
color: var(--Text-Default, #0E1011);
}

.testimonial-description{
    color: var(--Text-Muted, rgba(14, 16, 17, 0.60));
}