.title-large {
    color: #0E1011;
}
.subtitle {
    color: #0E1011;
}


.hero-info-subspecies {
    color: #0E1011;
}
.hero-info-text {
    color: #0E1011;
}

.section-about-title {
    color: #0E1011;
}

.section-about-subtitle-paragraph {
    color: #0E1011;
}
.section-about-paragraph {
   color: #0E101199
}
